# Object files
*.o
*.lnk

# Target files
FlashFPGA/FlashGUI
FlashFPGA/FlashGUI13
Mixer/Mixer
Mixer/Mixer13
PlayMIDI/PlayMidi
PlayMP3/PlayMP3
PlayWAV/PlayWav
Record/Record
Synth/Synth

# Codecraft session files
*.session

# UAE extras
*.uaem
